<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Deliveroo</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <main>
      <section>
        <form method="POST" action="/auth/login">
          <label
            >Email Address:
            <input
              placeholder="Email Address"
              type="email"
              name="userEmail"
              required
            />
          </label>
          <label
            >Password:
            <input
              placeholder="Password"
              type="password"
              name="password"
              required
            />
          </label>
          <button type="submit">Log in</button>
        </form>
      </section>
    </main>
  </body>
</html>
